body{
    background-image: url("web-1012467_1920.jpg");
    background-repeat: no-repeat;
    background-size: 150%;
}
table {
	border-width:10px;
	background-color: rgb(255,255,255,0.3);
	border-style: solid;
	border-color: black;
	border-radius: 25px;
	border-bottom-style:none;
	border-left-style:none;
	padding: 40px 60px;
	text-align: left;
}
td{
    padding: 7px;
}
.button:hover {
	background-color: gray;
	color: white;
}
div {
	position: absolute;
	top: 70px;
	left: 500px;
}
.button{
    border-radius: 7px
}
.inp{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background-color: rgb(255,255,255,0.3);
    border-radius: 4px;
}
.inp:focus {
	background-color: rgb(255,255,255,.8);
}	